.red {
	color : red;
}

.navy {
	color: navy;
}

.green {
	color: green;
}

.gray {
	color: gray;
}

/* ng-cloak */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}